form {
				
				width:350px;
				margin:0 auto;
	}
form input {
				width:120px;
				height:30px;
				margin-top:3px;
	}
form img {
				position:relative;
				top:10px;
}
form .submit,.register {		
				cursor:pointer;	
}
